form.todo-form{
  margin-top: 5em; 
  width: 100%;
}

form.todo-form input{
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 62em;
    min-height: 1.5em;
    padding: 3px;
    margin: 3px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}